@import "variables";
@import "mixins";

.header {
  width: 100vw;
  @include flex-cc;
  flex-direction: column;
}

.header__content {
  width: 100%;
  background: $background-color--main;
  @include flex-cc;
  z-index: $z-index--top;
}

.header__content-wrapper {
  width: 100%;
  max-width: 1150px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__logo-title {
  font-size: 29px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  letter-spacing: .4em;
  margin-right: 18px;
  color: $text-color--main;
}

.header__logo-description {
  width: 220px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  color: $text-color--main;
}

.header__tel-container {
  @include flex-cc;
}

.header__tel {
  font-size: 35px;
  font-family: "Proxima Nova Bold", sans-serif;
  text-transform: uppercase;
  line-height: 0.6;
  margin-right: 17px;
  color: $text-color--main;
}

.header__tel-ico {
  display: none;
}

.header__callback-button {
  font-size: 13px;
  font-family: "Proxima Nova Bold", sans-serif;
  color: $text-color--secondary;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  border-radius: 4px;
  background: $background-gradient--first;
  box-sizing: border-box;
  padding: 8px 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: $transition--main;

  &:hover {
    box-shadow: 0 0 10px black;
  }
}

.header__burger {
  display: none;
}

// NAV MENU ---------------------------------------------------------------

.header__nav-menu {
  width: 100%;
  height: 35px;
  @include flex-cc;
  background-color: $background-color--secondary;
  user-select: none;

  ul {
    @include flex-cc;
    list-style: none;
  }

  li {
    width: 220px;
    border-right: 1px solid $text-color--secondary;
    text-align: center;

    &:last-of-type {
      border-right: unset;
    }

  }

  a {
    display: inline-block;
    color: $text-color--secondary;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .09em;
    transition: $transition--main;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.header__nav-menu-background {
  display: none;
}

.header__nav-menu-background.shown {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $background-color--secondary;
  animation: header-background-fade-in .15s ease;
}

@keyframes header-background-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {

  .header__content {
  box-sizing: border-box;
    padding: 0 20px;
  }


}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    z-index: $z-index--top;
  }

  .header__tel{
    display: none;
  }

  .header__tel-ico {
    display: inline-block;
    margin-right: 20px;
    width: 35px;
    height: 35px;
    img {
      width: 35px;
      height: 35px;
    }
  }

  .header__nav-menu {
    width: 320px;
    position: absolute;
    right: 0;
    top: 56px;
    height: unset;
    @include flex-cc;
    background-color: $background-color__main;
    z-index: $z-index--top;
    transform: translateX(320px);
    transition: $transition--secondary;

    ul {
      @include flex-cc;
      flex-direction: column;
      justify-content: flex-end;
    }

    li {
      width: 320px;
      border-right: unset;
      text-align: left;

      &:last-of-type {
        border-right: unset;
      }

    }

    a {
      font-family: "Proxima Nova Bold",sans-serif;
      width: 320px;
      font-size: 22px;
      line-height: 96px;
      letter-spacing: .11em;
      transition: $transition--main;
      color: $text-color--main;
      border-bottom: 1px solid $text-color--main;
      text-align: left;
      box-sizing: border-box;
      padding-left: 20px;


      &:hover {
        transform: unset;
      }
    }
  }

  .header__nav-menu.shown {
    transform: translateX(0);
  }

  .header__burger {
    position: relative;
    @include flex-cc;
    flex-direction: column;
    width: 30px;
    height: 20px;
    margin-left: 30px;
  }

  .header__burger-line {
    position: absolute;
    width: 30px;
    height: 3px;
    background: $background-gradient--first;
    transition: $transition--secondary;
  }

  .header__burger-line--first {
    top: 0;
  }

  .header__burger-line--second {
    top: 10px;
  }

  .header__burger-line--third {
    top: 20px;
  }

  .header__burger-line--first.closed {
    top: 10px !important;

  }

  .header__burger-line--second.closed {
    opacity: 0;
  }

  .header__burger-line--third.closed {
    top: 10px !important;
  }

  .header__burger-line--first.closed-2 {
    transform: rotate(-45deg);
    width: 35px;
  }

  .header__burger-line--second.closed-2 {
    opacity: 0;
  }

  .header__burger-line--third.closed-2 {
    width: 35px;
    transform: rotate(45deg);
  }

}


@media screen and (max-width: 414px) {
  .header__logo-description, .header__callback-button {
    display: none;
  }

  .header__tel-ico {
    margin-right: unset;
  }


}