@import "variables";
@import "mixins";

.main {
  width: 100vw;
  @include flex-cc;
  flex-direction: column;
  z-index: $z-index--top;

}


.main__content-container {
  width: 100%;
  max-width: 1240px;
  height: 485px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding-top: 40px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -25vw;
    height: 100%;
    width: 840px;
    background-color: rgba(0, 0, 0, .4);
    transform: skewX(-20deg);
    z-index: $z-index--negative;
  }
}

.main__title-container {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -35px;
    background: rgba(255, 255, 255, .7);
    width: 4px;
    height: 100%;
    transform: skewX(-20deg);
  }
}

.main__title-wrapper {
  display: inline-block;
  background-color: rgba(255, 255, 255, .7);
  transform: skewX(-20deg);
  box-sizing: border-box;
  padding: 20px 18px;
  margin-bottom: 10px;
}

.main__title {
  font-size: 77.513px;
  font-family: "Intro Black", sans-serif;
  text-transform: uppercase;
  line-height: 0.762;
  text-align: left;
  transform: skewX(20deg);
}

.main__title-description-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main__title-description-wrapper {
  display: inline-block;
  background-color: rgba(255, 255, 255, .7);
  transform: skewX(-20deg) translateX(-32px);
  box-sizing: border-box;
  padding: 13px 15px;
}

.main__title-description {
  display: inline-block;
  font-size: 36px;
  font-family: "Intro Black Italic", sans-serif;
  line-height: 1.2;
  text-align: center;
  transform: skewX(20deg);
  box-sizing: border-box;
  padding: 0 34px 7px 34px;
  border-bottom: 3px solid $text-color--main;
  margin-right: 10px;
}

.main__title-price-wrapper {
  display: inline-block;
  background: $background-gradient--second;
  transform: skewX(-20deg) translateX(-20px);
  box-sizing: border-box;
  padding: 8px 15px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, .75);
}

.main__title-price {
  display: inline-block;
  font-size: 20.7px;
  font-family: "Intro", sans-serif;
  color: $text-color--secondary;
  line-height: 1.2;
  text-align: center;
  transform: skewX(20deg);

  i {
    font-family: "Intro Black", sans-serif;
    font-size: 32px;
    margin: 0 10px;
  }
}

.main__ideas-container {
  box-sizing: border-box;
  padding-top: 27px;

  p {
    max-width: 310px;
    font-size: 19px;
    font-family: "Proxima Nova Bold", sans-serif;
    color: $text-color--secondary;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 25px;
  }
}


.main__see-ideas-button {
  border: 2px solid #fff;
  border-radius: 2px;
  background: $background-gradient--first;
  font-size: 23px;
  font-family: "Proxima Nova Bold", sans-serif;
  color: $text-color--secondary;
  text-transform: uppercase;
  line-height: 1.13;
  text-align: center;
  box-sizing: border-box;
  padding: 14px 16px;
  outline: none;
  cursor: pointer;
  transition: $transition--main;

  &:hover {
    box-shadow: 0 0 10px #fff;
  }

  &:focus {
    border: 2px solid #fff;
    outline: unset;
  }
}




